<a class="gpx-download" href="{{ gpx_file }}">{{ 'Download GPX'|trans }}</a>
<ul>
    <li class="distance"><label>{{ 'Distance'|trans }}</label> <div>{{ distance }}km</div></li>
    <li class="elevation"><label>{{ 'Elevation'|trans }}</label> <div>{{ elevation }}m</div></li>
    <li class="demotion"><label>{{ 'Demotion'|trans }}</label> <div>{{ demotion }}m</div></li>
    <li class="lowest-point"><label>{{ 'Lowest point'|trans }}</label> <div>{{ lowest_point }}m</div></li>
    <li class="highest-point"><label>{{ 'Highest point'|trans }}</label> <div>{{ highest_point }}m</div></li>
    <li class="points"><label>{{ 'Amount of coordinates'|trans }}</label> <div>{{ points }} {{ 'points'|trans }}</div></li>
</ul>