<ul>
    <li><label>{{ 'Elevation'|trans }}</label> <span>{{ elevation }}m</span></li>
    <li><label>{{ 'Demotion'|trans }}</label> <span>{{ demotion }}m</span></li>
    <li><label>{{ 'Lowest point'|trans }}</label> <span>{{ lowest_point }}m</span></li>
    <li><label>{{ 'Highest point'|trans }}</label> <span>{{ highest_point }}m</span></li>
    <li><label>{{ 'Distance'|trans }}</label> <span>{{ distance }}km</span></li>
    <li><label>{{ 'Points'|trans }}</label> <span>{{ points }} {{ 'points'|trans }}</span></li>
</ul>

