<label>{{ 'Elevation'|trans }}</label> <span>{{ elevation }}m</span>
<label>{{ 'Demotion'|trans }}</label> <span>{{ demotion }}m</span>
<label>{{ 'Lowest point'|trans }}</label> <span>{{ lowest_point }}m</span>
<label>{{ 'Highest point'|trans }}</label> <span>{{ highest_point }}m</span>
<label>{{ 'Distance'|trans }}</label> <span>{{ distance / 1000 }}km</span>
<label>{{ 'Points'|trans }}</label> <span>{{ points }} points</span>

